* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/backgroundimage.jpg);
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: darkolivegreen;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.navbar a:hover {
    background-color: darkgreen;
}

h1 {
    font-size: 100px;
    color: rgb(41, 39, 39);
    font-family: serif;
    text-align: center;
}

.hero-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}