* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/backgroundimage.jpg);
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: darkolivegreen;
    overflow: auto;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.navbar a:hover {
    background-color: darkgreen;
}

h1 {
    font-size: 100px;
    color: rgb(41, 39, 39);
    font-family: serif;
    text-align: center;
}

h2 {
    font-size: 50;
    color: black;
    font-family: serif;
    text-align: center;
    margin-bottom: 30px;
}

.hero-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3, h4, h7   {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}


.maincontent {
    margin-bottom: 80px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    display: block;
}

.maincontent img {
    max-height: 225px;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.container-two {
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.container-two .content-two {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

/*Contact Me*/

input, select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  input {
    background-color: white;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input:hover {
    background-color: lightgray;
  }
  
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }