* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/backgroundimage.jpg);
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: darkolivegreen;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.navbar a:hover {
    background-color: darkgreen;
}

.hero {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
}

.hero-img {
    height: 300px;
    width: 300px;
}